body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-image: url('http://js.pmcontent.com/styles/vtlai/movie/img/body_bg.gif');
}
@font-face{
    font-family:"utm-cafeta";
    src:url('/public/fonts/UTM\ Cafeta.ttf')
}
htm_tag{font-family:"utm-cafeta";font-size:20px;text-transform:none;color:#F32951}
.page-header{
    background-image: url('http://www.phimmoi.com/wp-content/themes/phimmoi/skin/large/img/header-bg.jpg');
    border-bottom:none;
    margin: 0;
    height: 75px;
}
.page-header>.container>.row{
    margin-top: 7px;
}
.input-group {
    margin-top: 5px;
}
.input-group>.form-control{
    background-color: #303137;
    border-radius: 100px;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    border-radius: 0px 25px 25px 0px;
}
.navbar-default {
    background-color: #323031;
    border-color: #323031;
    border-top: 4px solid #C2C73C;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {

    color: #dacb46;
    background-color: #292929;

}
.navbar {
    border-radius: 0;
}
.dropbtn {
    background-color: #323031;
    color: white;
    padding:15px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #292929;
    border: 1px solid #79777A;  
    min-width: 376px;
    max-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    min-width: 180px;
  }
  
  .dropdown-content a:hover {
    background-color: #323031;
    
    }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #292929;}